<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Machine {{inventory_hostname}}</title>
</head>
<body>
  <p>Cette machine s'appel {{inventory_hostname}}</p>
</body>
</html>